@import '../../../theme-variables.scss';

@mixin back {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    padding: 32px;
    width: 100vw;
    height: calc(100vh - 188px);
    box-sizing: border-box;
}

.background {
    @include back;
    @include themify() {
        background: themed('bodyBackgroundColor');
        color: themed('textColor');
        a {
            color: themed('textColor');
        }
    }
}
