@mixin back {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    padding: 16px;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
}

.background {
    @include back;
    background-color: burlywood;
}

.backgroundDark {
    @include back;
    color: white;
    background-color: #383737;
    a {
       color: papayawhip;
    }
}
